.header{

  background-color:red;
  opacity: 0.11;
  width:100%;
  margin-top: 100px;
  height: 100px;
}

form {
  max-width: 350px;
  margin-top: 50px;
  margin-left: 30%;
  height: 350px;
  padding: 10px;

}

.block{
  width: 100%;
  background-color: #138d75 ;
  height: 10px;

}

.input_register{
  margin-top: 20px;
  width:80%;
  margin-left: 24%;
  border-radius: 5px;
}
input::placeholder{
   text-align: center;
}
select{
  width:93%;
  margin-top: 20px;
}
h1{
  color:#666666;
}
.button_register{
  background-color: #edbb99;
  margin-top: 20px;
  width:80%;
  margin-left: 24%;
  border-radius: 5px;
}

.button_register:hover{
  opacity: 0.50;
}



.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 20%;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;

}

.right {
  right: 0;

}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;


}
.edit_input{
  width: 100%;
  margin-top: 30px;
  text-align:center;
}
textarea{
  height: 150px;
}


.inputfile {
    margin-top: 10px;
    display: inline-block;

    cursor: pointer;
    transform: translate(20%, 35%);
}



.nav >ul {
  list-style: none;
  background-color: #EEEE;
  text-align: left;
  height: 60px;
  width: 100%;
}

.nav a {
  text-decoration: none;
  color: black;
  display: block;
  opacity: 0.50
}
.nav li:hover{
  background-color: red;
  opacity: 0.50;
  height: 60px;
}

.nav a:hover {
  text-decoration:none;
}

.nav a.active {
  background-color: red;
  opacity: 0.11;
  color: black;
  cursor: pointer;
    height: 60px;
}


.nav li li {
  font-size: .8em;
}


  .nav  li {
    width: 150px;
    border-bottom: none;

    line-height: 50px;
    font-size: 1.4em;
    display: inline-block;

  }

  .nav a {
    border-bottom: none;
  }

  .nav > ul > li {
    text-align: center;

  }

  .nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  .nav li ul {
    position:absolute;
    display: none;
    width: inherit;
    padding: 0;

  }

  .nav li:hover ul {
    display: block;

  }

  .nav li ul li {
    display: block;
    padding: 0;
    background-color: #eeee;
  }

  .nav li ul li a{
    text-align: left;
    color:black;
  }
  .img_prof{
    display: inline-block;
  }



  #profile{
    text-align: left;
    background-color: #eeee;
  }



  [data-tip] {
  	position:relative;

  }
  [data-tip]:before {
  	content:'';
  	display:none;

  }
  [data-tip]:after {
  	display:none;
  	content:attr(data-tip);
  	position:absolute;
  	top:20px;
  	left:350px;
  	text-align: center;
  	background:red;
    opacity: 0.70;
  	color:black;
  	z-index:10;
  	font-size: 0.65em;
  	height:40px;
  	border-radius: 12px;
    width: 200px;

  }
  [data-tip]:hover:before,
  [data-tip]:hover:after {
  	display:block;

  }
